*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
 .nav1 .navbar{
    background-color:#3fbbc0 !important;
    height: 45px;
}
.nav1 .container a span{
    font-size: 15px;
}
.butn button {
  background-color:#3fbbc0 !important;
}

.carousel-item .butn button{
    background-color:#3fbbc0 !important;
}



.carousel-item img{
    height: 100vh;
}
.carousel-indicators button{
    width: 10px !important;
    height: 10px !important;
    border-radius: 50% !important;

}
 .icon i{
    color:#3fbbc0 !important;
}





.contact-btn{
    margin: 30px auto;
    display: block;
    padding: 8px 20px;
   
    background: transparent;
}
color{
    color: blue;
}
.container{
    position: relative;
}
.main-title h4::after{
    content: '';
    width: 40px;
    height: 2px;
    background-color:#3fbbc0 !important;
    position: absolute;
    bottom: 975px;
    left: 50%;
    transform: translateX(-50%);

}
.copy-color{
    color:#3fbbc0 !important;
}
.btn-color{
    background-color:#3fbbc0 !important;
}